body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fffef1;
}

.bg-custom {
    background-color: #ffbc2b;
}

.overlay-container {
    position: relative;
    width: 170px;
    left: 70%;
    transform: translate(-60%, -100%);
    z-index: 1;
    overflow: hidden;
}

.overlay-content {
    background-color: #fff6c0;
}

.container-main {
    background-color: #2d2d30;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-top: 35px;
}
.custom-padding {
    padding-bottom: 30px;
}

.container-small {
    background-color: #fffef1;
    width: 90px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
    top: 10px;
}